* {
    box-sizing: border-box;
}
.inicio1{
  display: none;
}

.title{
  font-family: 'Lobster Two', cursive;
  font-size: 36px;
}
.title1{
  font-family: 'Lobster Two', cursive;
  font-size: 16px;
}

.container-fluid{
  width: 95%;
}
.inicio{
  margin-top: 20px;
}
#exampleInputAmount{
  margin-left: 5%;
  width: 50%;
}
.navbar-brand{
  color: darkorange;

}
#barra a{
  line-height: 10px;
  font-family: 'Roboto', sans-serif;

}
.container{
  margin-top: 0px;
  width: 95%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 0px;
}
.clasificacion{
  padding-left:30px;
}
.form-control{
  width: 30%;
}
.product-box__item img{
  width: 100%;
  height: 220px;
}
.product-box__item p{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 15px;

}
.final{
  margin-left: 100px;
}
.final p{

  margin-top: 20px;
  line-height: 10px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}


#products{
  margin-top: 20px;
}

@media (min-width: 991px) and (max-width: 1200px) {
  #inicio1 {
    visibility: hidden;
  }
  #tablets {
     display:  inline-table;
     padding-bottom: 20px;
  }
}
@media (max-width: 990px) {
  #left {
    display: none;
  }
  #tablets {
   display: inline-table;
   padding-bottom: 20px;

  }
  .caption h3{
    font-size: 12px;
    font-weight: bold;
  }
  .caption {
    font-size: 10px;
  }
  .caption p a{
    font-size:90%;
    margin-top: 5px;
    display: block;
  }
  .product-box__item .thumbnail {

    min-height: 270px;
  }
}
